<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Index</title>
</head>
<body>
    <h1>List of Heros</h1>
    <ul>
        {% for hero in all_heros %}
        <li><h2> {{hero.name}} - <a href ="{% url 'superheros:detail' hero.id%}">Click for details</a> - <a href ="{% url 'superheros:delete_hero' hero.id%}">Click to delete hero</a> - <a href ="{% url 'superheros:update_hero' hero.id%}">Click to update hero</a></h2></li>
        {% endfor %}
    </ul>
    <a href="{% url 'superheros:create'%}">Add New Hero</a>
</body>
</html>